<div class="container main-container">
  <div class="contactus">
    <div class="col-md-offset-3 col-md-6">
      <form role="form" action="contact_us_submit">
        <div class="form-group col-md-12">
          <input type="fname" name="first_name" required class="form-control" id="exampleInputEmail1" placeholder="Enter First Name">
        </div>
        <div class="form-group col-md-12">
          <input type="lname" required name="last_name" class="form-control" id="exampleInputEmail1" placeholder="Enter Last Name">
        </div>

        <div class="form-group col-md-12">
          <input type="email" required name="email" class="form-control" id="exampleInputEmail1" placeholder="Enter Email">
        </div>
        
        <div class="form-group col-md-12">
          <textarea class="form-control" required name="message" placeholder="Enter you message." rows="3"></textarea>
          <button type="submit" class="btn btn-default submit_con head-bg ">Submit</button>
        </div>
      </form>

    </div>
  </div>
</div>