<%= hidden_field_tag "active-side-nav-link", "social_sharing" %>
<div class="offer_ride booking profile">
  <div class="col-md-10 col-sm-10 col-xs-12">
    <!-- Tab panes -->
    <div class="tab-content">
      
      <div role="tabpanel" class="tab-pane active change_password personal_info" id="Personal_info">
        <%= render 'profile/partials/sharing' %>
      </div>
      
      <!-- Delete account end -->
      <div class="offer_ride_footer">
        <div class="panel panel-default col-md-12 col-sm-12 col-xs-12">
          <div class="col-sm-3 col-xs-12">
            <div class="img_holder">
              <a href="/users/4/public_profile"><img alt="Icon man 108" class="img-responsive" src="/assets/icon_2.png"></a>
            </div>
          </div>
           <p>Going somewhere? <a href="/offer-seats/1">Post your ride here</a></p>
        </div>
      </div>
    </div>
  </div>
</div>