<div class="error_page">
        <div class="col-sm-4 col-md-3 col-lg-3 col-lg-offset-1 col-md-offset-1 image-area">
          <%=image_tag 'error_page.png', :class => "img-responsive" %>
        </div>
        <div class="col-sm-8 col-md-6 text-area">
          <h1>Whoopsy,</h1>
          <p>Something has gone wrong with the page you are trying to view. Return to <%=link_to "Home", root_path%> or <a href="https://www.facebook.com/lamuleaustralia">FB</a></p> 
          <p>Or to help us fix this as soon as possible take a screen shot and send it
            to info@lamule.com.au</p>
        </div>
      </div>