<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <ul>
        <li  class="active"><a href="#tab1" data-toggle="tab">Verify Your Profile<span></span></a></li>
        <li><a href="<%= step.to_i == 1 ? "active" : "" %>" data-toggle="tab">Personal details and car<span></span></a></li>
        <li><a href="#tab3" data-toggle="tab">Done</a></li>
      </ul>
    </div>
  </div>
</div>