<%= render partial: '/users/header_tabs' %>
<div class="row">
	<div class="col-md-9 margin">
		<div class="email_box new">
			<img src="<%= asset_path('email-envelope2.png') %>" class="display-block pull-left" alt="">
			<div class="text_area_list">
				<p>Your alert has been successfully created! You will receive and email:</p>
				<ul>
					<li>Each time a new ride matches your alert date</li>
					<li>Once a week with the best offers for that ride that weekend</li>
				</ul>
			</div>
		</div>
	</div>