

<div class="about_us banner">
   <div class="caption text-center">
      <img src="/assets/lamp.png" class="img-responsive" alt="Icon 1">
      <h1>About Us </h1>
      <p>The Falls is a solution to a problem of my own and thousands of others across Australia and the world. The idea of carpooling simply is about being smart and not wasteful with our resources. Hi my name is Oliver Du Rieu the founder of The Falls. I grew up in a country town called Paringa, in the Riverland country South Australia very close to the Victorian border</p>
   </div>
</div>
<div class="about_us">
<div class="story text-center">
   <h1>The LaMule Story</h1>
   <p>The Falls is a solution to a problem of my own and thousands of others across Australia and the world. The idea of carpooling simply is about being smart and not wasteful with our resources. Hi my name is Oliver Du Rieu the founder of The Falls. I grew up in a country town called Paringa, in the Riverland country South Australia very close to the Victorian border</p>
</div>
<div class="meet_team text-center">
   <img src="/assets/team.png" class="img-responsive" alt="Icon 1">
   <h1>Meet the Meat</h1>
</div>
<div class="team col-md-9 col-md-offset-2">
	<div class="row">
	   <div class="col-sm-6">
	      <div class="offer_ride booking profile ">
	         <!-- Tab panes -->
	         <div class="tab-content">
	            <div id="c_rides" class="tab-pane active" role="tabpanel">
	               <div class="panel panel-default">
	                  <div class="panel-heading">
	                     Oliver Du Rieu
	                     <h6>Founder</h6>
	                  </div>
	                  <div class="panel-body rides">
	                     <div class="panel-body rides ">
	                       <div class="row">
	                       		<div class="col-sm-5">
	                       			<div class="img_holder founder">
	                       				<img alt="founder_img" class="img-responsive" src="/assets/founder_img.png">
	                       			</div>
	                       		</div>
	                       		<div class="col-sm-7">
	                       			<p>The Falls is a solution to a problem of my own and thousands of others across Australia and the world. The idea of carpooling simply is about being smart and not wasteful with our resources. Hi my name</p>
	                       		</div>
	                       </div>
	                     </div>
	                  </div>
	               </div>
	            </div>
	         </div>
	      </div>
	   </div>
	   <div class="col-sm-6">
	   		<div class="offer_ride booking profile ">
	         <div class="tab-content">
	            <div id="c_rides" class="tab-pane active" role="tabpanel">
	               <div class="panel panel-default">
	                  <div class="panel-heading">
	                     Oliver Du Rieu
	                     <h6>Founder</h6>
	                  </div>
	                  <div class="panel-body rides">
	                     <div class="panel-body rides ">
	                       <div class="row">
	                       		<div class="col-sm-5">
	                       			<div class="img_holder founder">
	                       				<img alt="founder_img" class="img-responsive" src="/assets/founder_img.png">
	                       			</div>
	                       		</div>
	                       		<div class="col-sm-7">
	                       			<p>The Falls is a solution to a problem of my own and thousands of others across Australia and the world. The idea of carpooling simply is about being smart and not wasteful with our resources. Hi my name</p>
	                       		</div>
	                       </div>
	                     </div>
	                  </div>
	               </div>
	            </div>
	         </div>
	      </div>
	   </div>
	</div>
	<div class="row">
	   <div class="col-sm-6">
	      <div class="offer_ride booking profile ">
	         <!-- Tab panes -->
	         <div class="tab-content">
	            <div id="c_rides" class="tab-pane active" role="tabpanel">
	               <div class="panel panel-default">
	                  <div class="panel-heading">
	                     Oliver Du Rieu
	                     <h6>Founder</h6>
	                  </div>
	                  <div class="panel-body rides">
	                     <div class="panel-body rides ">
	                       <div class="row">
	                       		<div class="col-sm-5">
	                       			<div class="img_holder founder">
	                       				<img alt="founder_img" class="img-responsive" src="/assets/founder_img.png">
	                       			</div>
	                       		</div>
	                       		<div class="col-sm-7">
	                       			<p>The Falls is a solution to a problem of my own and thousands of others across Australia and the world. The idea of carpooling simply is about being smart and not wasteful with our resources. Hi my name</p>
	                       		</div>
	                       </div>
	                     </div>
	                  </div>
	               </div>
	            </div>
	         </div>
	      </div>
	   </div>
	   <div class="col-sm-6">
	   		<div class="offer_ride booking profile ">
	         <div class="tab-content">
	            <div id="c_rides" class="tab-pane active" role="tabpanel">
	               <div class="panel panel-default">
	                  <div class="panel-heading">
	                     Oliver Du Rieu
	                     <h6>Founder</h6>
	                  </div>
	                  <div class="panel-body rides">
	                     <div class="panel-body rides ">
	                       <div class="row">
	                       		<div class="col-sm-5">
	                       			<div class="img_holder founder">
	                       				<img alt="founder_img" class="img-responsive" src="/assets/founder_img.png">
	                       			</div>
	                       		</div>
	                       		<div class="col-sm-7">
	                       			<p>The Falls is a solution to a problem of my own and thousands of others across Australia and the world. The idea of carpooling simply is about being smart and not wasteful with our resources. Hi my name</p>
	                       		</div>
	                       </div>
	                     </div>
	                  </div>
	               </div>
	            </div>
	         </div>
	      </div>
	   </div>
	</div>
</div>
<div class="clearfix"></div>
<div class="advisors text-center">
	<div class="row">
	<div class="col-md-9 col-md-offset-2">
		<h1>Our Advisors</h1>
		<div class="col-md-3 col-sm-6">
			<div class="img_holder">
				<img alt="advisors_img" class="img-responsive" src="/assets/advisor_img.png">
			</div>
			<h3>Old Mate</h3>
			<p>Taxi Driver</p>
		</div>
		<div class="col-md-3 col-sm-6">
			<div class="img_holder">
				<img alt="advisors_img" class="img-responsive" src="/assets/advisor_img.png">
			</div>
			<h3>Old Mate</h3>
			<p>Taxi Driver</p>
		</div>
		<div class="col-md-3 col-sm-6">
			<div class="img_holder">
				<img alt="advisors_img" class="img-responsive" src="/assets/advisor_img.png">
			</div>
			<h3>Old Mate</h3>
			<p>Taxi Driver</p>
		</div>
		<div class="col-md-3 col-sm-6">
			<div class="img_holder">
				<img alt="advisors_img" class="img-responsive" src="/assets/advisor_img.png">
			</div>
			<h3>Old Mate</h3>
			<p>Taxi Driver</p>
		</div>
	</div>
	</div>
</div>
</div>
