<h2>Where lamule comes from!</h2>
<p>
Lamule is a solution to a problem of my own and thousands of others across Australia and the world. The idea of carpooling simply is about being 'smart' and not wasteful with our resources, instead making the most out of them.</p>

<p> Hi my name is Oliver Du Rieu the founder of ‘lamule’.</p>

<p>
I grew up in a country town called Paringa, in the Riverland country South Australia very close to the 

Victorian and New South Wales border.</p>
<div class="image-holder">
  <%= image_tag "img_map.png",class: "pull-left img-responsive" %>
</div>

<p>From a young age I was lucky enough to see a lot of our great country. From Paringa (SA) to Port

Campbell (VIC) then to Byron Bay (NSW) up to Kakadou (NT) and all the way round to Broome (WA), 

our family holidays were typical of many Australians. I can imagine "three crazy kids in the back, of 

a commodore with mum and dad trying to help pass the highway km’s with multiple games of car 

cricket".</p>