<iframe src="https://www.youtube.com/embed/p1f86-Z8lZ4?rel=0" frameborder="0" allowfullscreen style="width: 100%; height: 670px;" ></iframe>

<h3>Do you need to get somewhere? Find a suitable driver to get you where you’re going!</h3>
<strong>1. Search for a ride:</strong>
<p>Simply enter your departure location followed by your desired

arrival location, then choose a suited driver to ride share with.</p>
<p><i>Hint: be sure to check the drivers profiles, start rating and assess the

suitability before you commit to the trip.</i></p>

<strong>2. Get in touch:</strong>
<p>Click on “Contact Driver” then simply contact your driver via 

phone, private message or email to book your seat.</p>

<p><i>Hint: If you send a private message The Falls will send a SMS

immediately to the driver so that they can be notified of your interest 

ASAP free of charge!</i></p>
<strong>3. Enjoy the ride share:</strong>
<p>Be at the arranged meeting point on time; remember to bring exact

change if you have opted to use the cash payment so u can pay the 

driver on the agreed contribution during you trip.</p>

<p><i>Hint: after the ride share leave feed back on the driver so then

it is easier for others to identify the characters of other The Falls 

members, also you will gain reputation points for laving feedback.</i></p>

<h3>Got some spare seats? Rent your seats out to people who will 

make your trip better!</h3>
<strong>1. Offer your ride online:</strong>
<p>Simply indicate you itinerary, then fill in the date and time of your

departure and choose a price per passenger.</p>
<p><i>Hint: The Falls will be your mate and help you out and indicate a 

average price.</i></p>

<strong>2. Wait for your passengers to contact you:</strong>

<p>Passengers will make contact with you via email, phone or private 

message to confirm the trip details. If they send you a private 

message we will SMS you immediately.</p>
<p><i>Hint: It works really well if you phone you passenger a day before 

your trip to finalize details.</i></p>
<strong>3. Enjoy the ride share together:</strong>

<p>Be present at your planned meeting point on time, in the case 

you are going to be behind schedule then send the passenger a 

message detailing the circumstances. You will easily reckonings 

them from their profile picture.</p>
<p><i>Hint: Add your car to your profile so that is makes it super easy to 

identify each other.</i></p>
<strong>4. Your passenger pays you their contribution:</strong>

<p>Your passenger will pay you the agreed amount if using the

cash system other wise they will supply you with the payment 

collection code so u can receive you online payment.</p>
<p><i>Hint: After travelling together leave a rating for you passenger and

they will do the same, this was you build a reputation and experience 

points.</i></p>
