<iframe src="//player.vimeo.com/video/110470832" width="100%" height="500px" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

<p class="text-center" style="margin-top:20px;"> <Big><b>The The Falls Community</b> </Big></p>

<p>Throughout the life of The Falls our focus has always been on the community we create and stand for. Reaching our goal of raising the car occupancy rate in Australia from an average of 1.25 people per car to a figure closer to what Europe is currently averaging of 1.6 people per car is not going to become realized by simply supplying technology for people to use to share rides, there needs to be a change in social behaviors and a swing from the norm to the new.

From the start of The Falls we have had over 100 people lend a hand on separate occasions, helping us get closer to our goals. Because the support is so over whelming we have created a specific page to recognize the effort and passion, which has been and continues to be put into helping The Falls move forward. These legends are absolute advocates for the concept of The Falls and can truly see how being part of a movement such as The Falls is more than just carpooling.

If you have a story about someone helping our vision grow into reality please do send us a direct email and we would love to reach out to them and personally recognize their awesome work. Send emails to admin@lamule.com.au </p>

<p><Big>Yew The Falls!!</Big></p>