    <div class="row">
    <div class="container">
        

        <h2>Where The Falls comes from!</h2><!-- 
        <p>When you share a ride on LaMule, you travel with a member of a trusted community. Every member has an Experience Level that evolves with time and activity. Levels help you choose the right co-traveller for the ideal LaMule journey. There are five Levels:</p> -->
        <p>The Falls is a solution to a problem of my own and thousands of others across Australia and the world. The idea of carpooling simply is about being smart and not wasteful with our resources.
        Hi my name is Oliver Du Rieu the founder of The Falls.
        I grew up in a country town called Paringa, in the Riverland country South Australia very close to the Victorian border.</p>
            <img src="/assets/summary/comes-from-1.jpg" class="pull-center margin-right" alt=""><br>

      
    <p>From a young age I was lucky enough to see a lot of our great country. From Paringa (SA) to Port Campbell (VIC) then to Byron Bay (NSW) up to Kakadou (NT) and all the way round to Broome (WA), our family holidays were typical of many Australians "three crazy kids in the back, of a commodore with mum and dad trying to help pass the highway km’s with multiple games of car cricket".</p>
    <img src="/assets/summary/comes-from-2.png" class="pull-center margin-right" alt=""><br>

    
    <p>When I finished school I relocated to Adelaide, which is over 250kms away from home in Paringa.
        It was hard because I still loved going home and seeing my friends and family, especially in the summer.
        As an 18 year old apprentice it was such a struggle to either find a ride home or find someone to come with me to share the cost’s of the journey. If I didn’t find a travel buddy I would be stuck with the hefty $110 worth of petrol and other travel cost all by my self which was over a ¼ of my weekly wage.
        It got me thinking about what was going on, I thought that there would have to be other people just like myself who would be more than willing to share a ride if it was available. With technology growing faster than ever I did some research and that’s when I came up with The Falls the ride sharing platform which gives everyday Australians the option to share their experiences and travel cost’s anywhere in the country.</p>
    <img src="/assets/summary/comes-from-3.png" class="pull-center margin-right" alt=""><br>
    <p>I hope now that The Falls can be beneficial to thousands of Australians for years to come. I can’t wait to hear about the stories shared on the different The Falls car trips and the friends made.</p>
    <strong>"The Falls on" you legends</strong>
    <p>Oliver Du Rieu</p></div></div>