<h4> Partner up! Become part of Club The Falls for businesses!!! </h4>

<p>The Falls has a massive community of businesses from across the country who
love the idea of being efficient on our roads and having fun whilst doing so.
</p>
<p>
Becoming part of Club The Falls as a business means more exposure to a wider
demographic, higher brand recognition and a flow on to more leads and more
customers!!</p>
<p>
If you would like to find out about the awesome partnerships we have
throughout Australia, please email marketing@lamule.com.au so together we can
push Australia into a efficient, adventurous and fun place to travel!!!</p>


<h4>If you would like to email us please use this format:</h4>

<p><i>Hi The Falls Marketing Team,</i></p>
<p>
I would like to hear more about the partnerships you have in place now, also I
would like to find out how our businesses can collaborate for mutual benefits.</p>
<p> <i>My business is..........., URL, Social media links.</i></p>

<p> <i>The best times to contact me are...........</i></p>
<p> <i>Or please just reply via email.</i></p>
<p> <i>Kind regards</i></p>
<p> <i>"Your name''</i></p>
