<h4>BUSINESS	TERMS	AND	CONDITIONS</h4>
<p>
Your	access	to	and	use	of	the	Services	provided	by	La’Mule Pty	Ltd	(ACN	165	734	074)	(La’Mule)	is	subject	
to	the	following	Terms:
</p>

<p>
<strong>1. Overview	of	this	Agreement:</strong> La’Mule	is	an	online	introduction	agency	for	Car	Sharing,	to	connect	

Drivers	and	Passengers,	for	a	Cost	Contribution	paid	by	the	Passenger	to	La’Mule.	Our	Website	lists	

details	of	Drivers	who	are	offering	a	specified	number	of	seats	in	their	Vehicle	to	a	specified	

destination.</p>
<p>

<strong>2. Status	of	La’Mule:</strong>	Neither	La’Mule	nor	the	Website	provide	any	transport	or	Car	Sharing	services.	

The	Website	offers	a	platform	whereby	Members	may	interact	with	any	one	another	for	the	

purposes	of	Car	Sharing.	It	is	not	a	Car	Sharing	business	or	a	commercial	contract	between	the	Driver	

and	the	Passenger.	La’Mule	has	no	responsibility	or	liability	for	whether	a	Driver	and	Passenger	

connect	and/or	embark	on	a	Trip.	La’Mule	is	not	a	party	to	any	agreement	or	transaction	between	

Members,	nor	is	La’Mule	liable	in	respect	of	any	matter	arising	which	relates	to	a	booking	between	

Members.	La’Mule	has no	responsibility	or	liability	for	the	Trip,	availability	or	cancellation,	

destinations	or	timings.		Drivers	and	Passenger	must	comply	with	the	Code	of	Conduct	on	the	

Website.	La’Mule are	not	aware	of,	and	have	no	liability	for,	the	Vehicle	or	the	nature	of	the	Trip.</p>
<p>

<strong>3. Acceptance	of	Agreement:</strong>	You	wish	to access	the	Website,and	receive	the	Services.		Access	to	the	

Website	and	Services	is	offered	to	you,	conditional	upon	your	acceptance	without	modification	of	all	

the	Agreement,	conditions,	and	notices	set	out	in	this	document	and	on	the	Website,	including	

complying	with	the	Code	of	Conduct	on	the	Website.		Your	use	of	and	access	to	the	Website	

indicates	your	acceptance	of	the	Agreement,	and	any	other	terms,	code	of	conduct,	conditions,	and	

notices	which	appear	on	the	Website,	as	they	exist	at	that	time	(collectively,	the	<strong>Agreement)</strong> .		If	you	

do	not	accept	the	Agreement,	you	are	not	authorised	to	use	the	Website or	the	Services.	
</p>
<p>
<strong>4. Amendment	of	Agreement:</strong>	La’Mule	reserves	the	right	at	any	time,	at	La’Mule’s sole	discretion,	to	

change	or	otherwise	modify	the	Agreement	in	accordance	with	the	Terms,	without	notice.		You	

should	check	the	Website	from	time	to	time	so	you	are	aware	of	any	changes.	Your	continued	access	

or	use	of	the	Website	signifies	your	acceptance	of	the	updated	or	modified	Agreement.	</p>
<p>

<strong>5. Commencement	Date:</strong>	The	Agreement	begins	on	the	date	you	begin	using	the	Website,	regardless	of	

whether	you	continue	to	registration	and	you	are	provided	with	a	User	Account.	</p>
<p>

<strong>6. Connect	with	a	Driver:</strong>	The	“How	it	Works”	section of the	Website	sets	out	how	a	Passenger	can	use	

La’Mule	to	connect	with	a	Driver	for	the	purposes	of	Car	Sharing.</p>
<p>

<strong>7. Connect	with	a	Passenger:</strong>	The	“How	it	Works”	section	of	the	Website	sets	out	how	a	Driver	can	use	

La’Mule	to	connect	with	a	Passenger	for	the	purposes	of	Car	Sharing.</p>
<p>

<strong>8. Trips:</strong>	The	‘How	it	Works”	section	of	the	Website	sets	out	how	Drivers	and	Passengers	connect.			The	

Driver	will	post	details	of	Trips,	providing	details	(for	example,	number	of	seats	available,	Cost	

Contribution	per	seat and	contact	details).	The	Passenger	can	accept	a	Trip	posted	by	a	Driver	on	the	

Website.		When	the	Passenger	books	the	seat, the	Website	shall	prompt	the	Passenger	to	log	into	

their	User	Account	and	pay	for	the	Trip.	Once	the	Passenger	pays	for	the Trip,	La’Mule	will	send	to	

the	Passenger’s	details	of	the	Trip	and	the	payment	collection	code	to	the	Passenger’s	registered	

email	address	and	mobile	phone	number.	The	Driver	also	receives	confirmation	of	the	booking	to	the	

Driver’s	registered	email	address	and	mobile	phone	number.	</p>
<p>

<strong>9. Cost	Contribution:</strong>	Each	Trip	advertised	by	a	Driver	will	specify	the	Cost	Contribution per	seat.	 This	

Cost	Contribution	is	made	up	of	two	parts:
<ul>
<li> a	base	fee	of	$2.50	per	seat	( <strong> “Service	Fee” </strong>);	and	</li>

<li>a	fee	per	seat	which	is	set	by	the	Driver	(<strong>“Driver	Fee” </strong>).</li>
</ul>
The	advertised	Cost	Contribution	for	each	Trip	will	indicate	to	the	Passenger	through a	system	of

colour-coding	whether	the	Driver	Fee	element	of	the	Cost	Contribution	is	equal	to	(or	within	5	per	

cent.	of),	higher	or	lower	than	La’Mule’s	recommended	fee	of	$0.08	per	kilometre.	

The	Passenger	pays	the	Cost	Contribution	to	La’Mule	via	its	User	Account	and	is	provided	with	a	

payment	collection	code.	The	Passenger	is	required	to	give	that	payment	collection	code	to	the	

Driver	upon	the	commencement	of	a	Trip.	Once	the	payment	collection	code	is provided	by the	

Driver	to	La’Mule,	La’Mule	pays	to	the	Driver	the	Driver	Fee via	the	PayPal	account	which	is	

nominated	in	the	Driver’s	User	Account.	The	Service	Fee	is	retained	by	La’Mule.	

The	Cost	Contribution	includes	any	fees	levied	by	PayPal.	However,	if	a	discount	code	is	provided	by	a	

Passenger	then	the	Passenger	may	also	be	required	to	pay	any	PayPal	fees.	 The	Service	Fee	includes	

GST.

There	is	no	fee	payable	by	Drivers.

These	Terms	continue	to	apply,	to	the	extent	relevant,	In	the	case	of	promotional	periods	where	

La’Mule waives	the	Service	Fee	element	of	the	Cost	Contribution	and	Passengers	make	bookings	

directly	with	the	Driver	and	not	via	the	Website.
</p>
<p>
<strong>10. Payment:</strong>	The	Cost	Contribution	is	payable	by	Passengers	to	La’Mule	by	the	following	payment	

methods:	
<ul>
<li>
Credit	Card	</li>

<li> PayPal</li>
</ul>
<p>

If	a	Passenger choose	to	pay	by	credit	card	then	La’Mule reserves the	right	to	process	the	credit	card	

for	payment	as	required	to	achieve	a	successful	outcome	in	the	event	that	the	original	processing	

transaction	is	unsuccessful.	The	Passenger acknowledges	that	it	is solely	responsible	for	any	charges	

or	fees	associated	with	insufficient	funds	or	any	other	such	charge	relating	to	the	collection	of	

payments.

Nothing	prevents	us	from	taking	any	action	necessary	to	recover	unpaid	fees	and	charges.	At	which	

time	all	costs	including	debt	collection,	commission,	solicitors	fees	and	any	out	of	pocket	expense	will	

be	your	liability.</p>
<p>

<strong>11. Driver	Obligations: </strong>	Each	Driver	agrees	that	it:
<ul> 
<li>
will	present	themselves	on	time	and	at	the	place	agreed	with	the	specified	Vehicle;</li>

<li> will	immediately	inform	all	Passengers	of	any	change	whatsoever	to	the	Trip.	If	one	or	more

Passengers	have	made	a	booking	and	the	Driver	decides	to	change	any	aspect	of	the	trip,	the	

Driver	undertakes	to	contact	all	Passengers	who	have	made	a	booking	in	relation	to	that	Trip	

and	to	obtaining	the	agreement	of	all	Passengers	to	the	change.	If	a	Passenger	refuses	the	

change,	they	are	entitled	to	a	full	refund	and	without	any	compensation	being	paid	to	the	

Driver;</li>

<li> will	comply	with	the	Code	of	Conduct	(available	on	the	Website	)at	all	times;	and </li>

<li> will	wait	for	the	Passenger	at	the	pickup	point	for	at	least	30	minutes	after	the	agreed	time.</li>
</ul>
<p>

If	the	Driver	fails	to	comply	with	any	of	the	Terms	(including	these	obligations),	La’Mule	reserves	the	

right	to	keep	information	relating	to	the	breach,	to	publish	to	disclose	this	information	on	the	

Driver’s	online	profile	and	to	suspend	or	withdraw	the	Driver’s	access	to	the	Website.
</p>
<p>

<strong>12. Passenger	Obligations: </strong>	The	Passenger	agrees	that	it:
<ul> 
<li> will	pay	the	Cost	Contribution;</li>

<li> will present	themselves	on	time	and	at	the	pickup	point	as agreed	with	the	Driver;</li>

<li> will	immediately	inform	the	Driver	or	La’Mule	if	they	are	required	to	cancel	a	Trip;</li>

<li> will	comply	with	the	Code	of	Conduct	(available	on	the	Website)	at	all	times;</li>
<li> will	wait	at	the	pickup	point	for	at	least	30	minutes	after	the	agreed	time	for	the	Driver	to arrive and	</li>

<li> will	inform	the	Driver	of	the	payment	collection	code	provided	to	it	by	La’Mule	upon	request
at	the	commencement	of	or during	the	Trip.</li>
</ul>
<p>
If	the	Passenger	fails	to	comply	with	any	of	these	Terms	(including	these	obligations),	La’Mule	

reserves	the	right	to	keep	information	relating	to	the	breach,	to	public	or	disclose	this	information	on	

the	Member’s	online	profile	and	to	suspend	or	withdraw	the	Passenger’s	access	to	the	Website.
</p>
<p>

<strong>13. Driver	Fee	and	No	Commercial	Activity: </strong>	The	Website	and	the	Services	are	strictly	limited	to	

providing	a	Service	for	Drivers	and	Passengers	to	car	share	in	a	private	capacity.	The	Services	may	not	

be	used	to	offer	or	accept	Car	Sharing for	profit	or	in	any	commercial	or	professional	context.</p>
<p>

Drivers	may	not	profit	from	any	Trip.	The	Driver	Fee	element	of	the	Cost	Contribution may	only	be	

used	to	discharge	the	Driver’s	costs	and	may	not	be	used	to	generate	any	profit	for	the	Driver.	

La’Mule	recommends	that	a	fee	of	$0.08	per	kilometer	be	charged	by	the	Driver	in	relation	to	a	Trip	

to	minimise	the	risk	of	the	Driver	making	a	profit.	However,	the	Driver	acknowledges	that	It	is	the	

Driver’s	responsibility	to	ensure	that	the	Driver	is	not	making	a	profit	from	the	Trip	and	the	Driver	

acknowledges	that	offering	the	Vehicle	to	Passengers	for	one	or	more	Trips	in	a	commercial	or	

professional	capacity	may	invalidate	the	Driver’s	insurance.	The	Driver	also	acknowledges	that	

carrying	over	4	Passengers	on any	one	Trip	and	charging	each	Passenger	$0.08	per	kilometer may	

result	in	the	Driver	making	a	profit.</p>
<p>

The	Driver	is	not	entitled	to	make any profit	by	virtue	of	the	amount	of	the	Driver	Fee,	the	types	of	

Trips	offered	by	a	Driver,	the	frequency	of	such	Trips	or	the	number	of	Passengers	transported.	This	

applies	to	all	activities,	arrangements	and	Services	booked	using	the	Website	and	any	additional	

services	or	activities	which	may	be	agreed	between	Driver	and	Passenger.</p>
<p>

The	Driver	must	not	provide	additional	services	to	any	Passenger	for	profit	or	gain	(and	the	

Passenger	may	not	accept	or	ask	for	any	such	services)	including	(without	limitation)	package	

delivery,	waiting	time,	additional	drop	offs	and	pick-ups	and	collecting	additional	passengers	(other	

than	the	Passenger).</p>
<p>

All	Trips,	collection	points	and	destinations	must	be	pre-agreed	through	the	Website	in	advance.	

Drivers	may	not	collect	any	Passengers	from	any	location	which	has	not	been	pre-agreed	with	the	

Passenger	through	the	Website.</p>
<p>

Members	are	reminded	that	using	the	Website	in	a	commercial	or	professional	capacity	may	

invalidate a	Driver’s	insurance.	Moreover,	Drivers	are	reminded	that	making	even	a	small	profit	from	

a	Trip	increases	the	likelihood	of	the	Driver’s	insurance	becoming	invalidated.</p>
<p>

La’Mule’s	liability	is	limited	in	accordance	with	these	Terms	and	in	particular	La’Mule is	not	liable	in	

respect	of	any	breach	of	any	agreement	between	Members	or	breach by	a	Member	of	these	Terms

including	where	any	Driver	(in	breach	of	these	terms)	offers	Services	through	the	Website	in	a	

professional	or	commercial	capacity	(thereby	potentially	invalidating	their	insurance).	</p>
</p>
<p>

<strong>14. Insurance:	The	Driver	agrees	and	undertakes	that	they:</strong>
<ul>
<li>
 it	the	registered	owner	or	authorised	representative	of	the	Vehicle;</li>
 <li>
 the	Vehicle	described	on	the	Website	is	registered	in	the	same	state	the	Driver	is offering	the	Trip; </li>
 <li>it	carries	insurance	for	the	Vehicle,	both	at	the	time	of	posting	on	the	Website	and	at	the	time	of the Trip;</li>
 <li>it	holds	the	appropriate	licences	for	operating	the	Vehicle;</li>
<li> will,	on	request,	provide	the	Passenger	with	evidence	of	the	complete	validity	of	its	insurance	

policy,	registration	certificate	and	driving	licence at	any	time	up	to completion	of	the	Trip; and </li>

<li> will	calculate	their	expenses	(fuel,	toll,	maintenance,	repairs,	depreciation	and	insurance	of	

their	vehicle)	to	ensure	no	profit	is	made	on	any	Trip	and	that	the	Driver	Fee	serves	to	cover	

the	Driver’s	expenses	and	costs	only.</li>
</ul>

<p>
It	is	La’Mule’s	understanding	that	most	insurers	take	the	view	that	a	Passenger	who	contributes	only	

towards	travel	expenses	is	treated	as	travelling	for	free,	and	is	therefore	a	third	party	passenger	who	

is	covered	by	compulsory	third	party	insurance	in	Australia.	However,	La’Mule gives	no	warranty	or	

assurance	in	this	regard	and	it	is	the	Driver’s	responsibility	to	verify	that	their	insurance	provides	

adequate	cover.</p>
<p>

It	is	up	to	each	Driver	and	Passenger	to	confirm	with	each	other	that	the	Driver	is	covered	by	valid	

insurance.	The	Driver	must	confirm	that	their	insurance	policy	allows	them	to	carry	passengers	and	

that	their	insurance	policy	covers	all	Passengers	and	any	accident	or	incident	which	may	occur	during	

a	Trip.
</p>
<p>
The	Driver	and	the	Passenger	are	aware	that	standard	non-commercial	insurance	policies	may	refuse	

to	cover	loss	or	damage	arising	in	the	event	that	the	Driver	had	made	or	was	seeking	to	make	a	

profit.</p>
<p>

If	the	Driver	does	make	a	profit,	or	if	the	insurers	repudiate	or	refuse	to	accept	any	claim	arising	

during	a	Trip for	any	other	reason	the	Driver	will	be	responsible	for	the	financial	consequences,

losses	and	damages	arising	and	La’Mule will	not	be	liable	under	any	circumstances	to	the	Driver	or	

the	Passenger.</p>
<p>

La’Mule reserves	the	right to	suspend	immediately	the	User	Account	of	any	Member and	to	make	

aware	to	competent	authorities if	La’Mule	suspects	the	Driver	is	using	the	Services	in any	

professional	or	commercial	way.</p>
<p>

<strong>15. User	Account</strong>
<p>
In	order	to	use	the	Services	each	Member	must	create	a	User	Account	and	agrees	to	provide	any	

personal	information	requested	by	La’Mule.	In	particular,	Members	will	be	required	to	provide	their	

first	name,	last	name,	age,	title,	sex,	residential	address,	valid	telephone	number and	email	address

and,	in	the	case	of	Drivers,	type	of	Vehicle.	</p>
<p>

Use	of	the	Website	is	limited	to	those	over	the	age	of	18	at	the	time	of	registration.</p>
<p>
Members	agree	and	accept	that:	</p>
<ul>
<li>all	of	the	information	they	provide	to	La’Mule	when	setting	up	their	User	Account	and	at	any

other	time	will	be	true,	complete	and	accurate	in	all	respects;	and
</li>
<li>
any	information	supplied	to	La’Mule	or	posted	on	the	Site	in	connection	with	any	Trip,	Vehicle

or	Car	Sharing	will	be	true	accurate	and	complete.
</li></ul>
<p>

La’Mule	will	not	be	liable	to	any	Member	in	the	event	that	any	information	provided	by	a	Member	

(including	for	the	avoidance	of	doubt	another	Member)	which	is	incomplete,	inaccurate,	misleading	

or	fraudulent.</p>
<p>

Unless	expressly	agreed	by	La’Mule,	members	are	limited	to	one	User	Account	per	Member.	No	User	

Account	may	be	created	on	behalf	of	or	in	order	to	impersonate	another	person.
</p>
</p>
<p>

<strong>16. Content:	</strong>
<p>
Each	Member	is	responsible	for	providing,	updating	and	maintaining,	any	material	about	you	

(<strong>Content</strong> )	for	use	on	the	Website,	in	accordance	with	any	requirements	of	and	requests	by	La’Mule	

for	information.		</p>
<p>

By	submitting	Content	to	the	Website,	you	grant	La’Mule	a	nonexclusive,	royalty-free,	perpetual,	

transferable,	irrevocable	and	fully	sublicensable	right	to	use,	reproduce,	modify,	adapt,	translate,

other	time	will	be	true,	complete	and	accurate	in	all	respects;	and

or	Car	Sharing	will	be	true	accurate	and	complete.
distribute,	publish,	create	derivative	works	from	and	publicly	display	such	Content	on	the	Website;	

and	use	the	name	that	you	submit	in	connection	with	such	Content.	</p>
<p>

You	acknowledge	that	La’Mule	may	choose	to	provide	attribution	of	your	Content	at	La’Mule’s

discretion.	You	grant	La’Mule	the	right	to	pursue	at	law	any	person	or	entity	that	violates	your	or	

La’Mule’s	rights	in	the	Content	by	a	breach	of	this	Agreement.
</p>
<p>
You	are	solely	responsible	for	creating	backup	copies	of	and	replacing	any	Content	you	post	or	store	

on	the	Website	at	your	sole	cost	and	expense.</p>
</p>
<p>

<strong>17. Control	Over	and	Liability	For	Content </strong>
<p>
La’Mule takes	no	responsibility	and	assumes	no	liability	for	any	Content	provided	by	you	or	any	third	

party,	including	for	inaccuracies	or	omissions,	or	for	any	loss	or	damage	thereto,	nor	is	La’Mule	liable	

for	any	mistakes,	defamation,	slander,	libel,	omissions, falsehoods,	obscenity,	pornography	or	

profanity.	As	a	provider	of	interactive	services,	La’Mule	is	not	liable	for	any	statements,	

representations	or	Content	provided	to	La’Mule.</p>
<p>

You	have	the	right	to	notify	La’Mule	about	any	Content	on	the	Website,	that	you	consider	is	

inaccurate,	misleading	or	deceptive.		La’Mule	may	publish,	remove,	revise,	edit	or	refuse	to	publish	

any	Content,	or	take	no	action,	in	its	sole	and	absolute	discretion.</p>
<p>

La’Mule	reserves	the	right,	and	has	sole	and	absolute	discretion,	to	publish,	remove,	revise,	edit	or	

refuse	to	publish,	without	notice,	any	Content	provided	to	La’Mule	or	posted	or	stored	on	the	

Website	at	any	time	and	for	any	reason	without	liability	to	La’Mule.		</p>
<p>

La’Mule	has	the	right	to	include	or	exclude	entry	to,	or	remove	a	Member	from	the	Website	at	any	

time,	for	any	reason	whatsoever,	in	its	absolute	discretion,	without	liability	to	La’Mule.
</p>
</p>
<p>

<strong>18. Reviews</strong>
<p>
The	Website	accommodates	reviews	of	Drivers	by	Passengers	and	Passengers	by	Drivers.</p>
<p>

In	the	case	of	Drivers,	reviews	may be	based	on	a	number	of	factors	including	promptness	of	Vehicle	

arrival,	standard	of	Vehicle,	cleanliness	of	Vehicle	and	the	overall	Trip	experience.	</p>
<p>

In	the	case	of	Passengers,	reviews	may	be	based	on	a	number	of	factors,	including	presence	at	the	

schedule	time	of	pick-up.</p>
<p>

La’Mule	has	no	control	over	reviews	provided	by	Members	and	are	made	within	the	sole	discretion	

of	the	Member.</p>
<p>

By	using	the	Service,	Members	agrees	that	their	reviews	may	be	displayed	to	other	Members	and	

this	may	affect	the	willingness of,	in	the	case	of	Driver’s	reviews,	Passengers	to	accept	a	seat	in	their	

Vehicle	in	respect	of	a	Trip	and,	in	the	case	of	Passenger’s	reviews,	Drivers	to	accept	that	Passenger	

in	their	Vehicle.</p>
<p>

As	set	out	in	Clause	21 (Termination),	La’Mule	may	terminate the	right	of	Members	to	use	the	

Services	in	the	event	of	two	or	more	poor	reviews	or	complaints	to	La’Mule’s	customer	service	team.</p>
</p>
<p>

<strong>19. Member	Warranties: </strong>	As	a	condition	of	your	use	of	this	Website,	you	warrant	that:
<ul>
<li>
you will	comply	with	the	Code	of	Conduct	on	the	Website;</li>

<li>all	Content	provided	by	you	to	La’Mule	or	uploaded	onto	the	Website	is	true,	accurate,	current and complete;</li>	

<li>you	will	only	use	the	personal	information	of	other	Members	which	is	provided	to	you	by	La’Mule	for	the	purposes	of	initiating	contact	for	a		particular	Trip	for	that	purpose	only;</li>
<li>

you	will	safeguard	your	account	information	(including	passwords	and	identification	details)	
and	will	supervise	and	be	completely	responsible	for	any	use	of	the	user	Account	by	anyone	

other	than	you; and</li>
<li>
you	are	over	the	age	of	18	and	you	possess	the	legal	authority	to	enter	into	this	Agreement	
and	to	use	this	Website	in	accordance	with	the	Terms.</li>
</ul>
<strong>20. Prohibited	Activities</strong>

<p>
You	will	not:</p>
<ul>
<li>post,	upload,	distribute,	store,	create	or	publish	any	message,	data,	information,	text,	music,

sound,	photos,	graphics,	code	or	any	other	material:</li>
<li>that	is	false,	unlawful,	misleading,	libelous,	defamatory,	obscene,	pornographic,	indecent,

lewd,	suggestive,	harassing	or	advocates	harassment	of	another	person,	threatening,	invasive	

of	privacy	or	publicity	rights,	abusive,	inflammatory,	fraudulent	or	otherwise	objectionable;</li>
<li>that	may	infringe	any	patent,	trademark,	trade	secret,	copyright	or	other	intellectual	or

proprietary	right	of	any	party.	In	particular,	content	that	promotes	an	illegal	or	unauthorised	

copy	of	another	person's	copyrighted	work;</li>
<li>that	impersonates	any	person	or	entity	or	otherwise	misrepresents	your	affiliation	with	a

person	or	entity,	including	La’Mule;	and</li>
<li>any	material	of	which	contains	computer	worms,	viruses	or	other	types	of	malicious	or	harmful

code;</li>
<li>use	the	Website	for	any	purpose	or	in	any	way	which	is	contrary	to	the	Agreement	or	which	is

unlawful,	including	but	not	limited	to	breaching	Intellectual	Property,	linking	to	a	listing	on	the	

Website	any	defamatory,	threatening,	harassing,	abusive,	discriminatory,	unlawful,	obscene,	

offensive,	profane,	indecent	or	otherwise	objectionable	material	of	any	kind;</li>
<li>modify,	copy,	distribute,	transmit,	display,	perform,	reproduce,	publish,	license,	create

derivative	works	from,	transfer,	or	sell	or	re-sell	any	information,	software,	products,	or	

services	obtained	from	or	through	this	Website,	or	do	anything	that	compromises	the	security	

and/or	stability	of	the	Website;</li>
<li>use	the	Website	in	connection	with	the	transmission	of	junk	mail,	spam,	chain	letters	or	to

engage	in	other	flooding	techniques	or	mass	distribution	of	unsolicited	email;</li>
<li>send	automated	queries	to	the	Website	without	La’Mule’s	express	written	permission;</li>
<li>access,	monitor	or	copy	any	content	or	information	of	this	Website	using	any	robot,	spider,

scraper	or	other	automated	means	or	any	manual	process	for	any	purpose	without	our	express	

written	permission;</li>
<li>violate	the	restrictions	in	any	robot	exclusion	headers	on	this Website	or	bypass	or	circumvent

other	measures	employed	to	prevent	or	limit	access	to	this	Website;</li>
<li>take	any	action	that	imposes,	or	may	impose,	in	our	discretion,	an	unreasonable	or

disproportionately	large	load	on	our	infrastructure;</li>
<li>deep-link	to	any	portion	of	this	Website	for	any	purpose	without	our	express	written

permission;</li>
<li>"frame",	"mirror"	or	otherwise	incorporate	any	part	of	this	Website	into	any	other	website

without	our	prior	written	authorisation;	or</li>
<li>attempt to	modify,	translate,	adapt,	edit,	decompile,	disassemble,	or	reverse	engineer	any

software	programs	used	by	La’Mule	in	connection	with	the	Website.</li>
</ul>
<strong>21. Termination</strong>
<p>La’Mule	may	terminate	your	User	Account,	this	Agreement	and	your	access	to	the Services,	at	any

time	and	without	prior	notification:</p>
<ul>
	<li>if	it	considers,	in	its	sole	opinion,	that	you	have	breached	any	aspect	of	this	Agreement; or</li>
	<li>if	you	have	received	two	or	more	poor	reviews	by	other	Members	(in	La’Mule’s	sole	opinion)

or	there	have	been	any	made	against	you	to	La’Mule’s	customer	service	team	by	other	

Members.</li>


</ul>
<p>Upon	termination	of	this	Agreement,	La’Mule	will	have	no	further	obligation	to,	and	will	cease	to,	

perform	the	Services	you,	La’Mule	has	sole	and	absolute	discretion	on	whether	to	remove	your	

Content	from	the	Website	and	you	will	pay	to	La’Mule	any	amount	owed	under	this	Agreement.</p>
<p>
The	accrued	rights,	obligations	and	remedies	of	the	Parties	are	not	affected	by	the	termination	of	

this	Agreement.
</p>
<strong>22. Confidentiality</strong>  
<p>Confidential	Information means	any	information	about	La’Mule	including	but	not	limited	to	its

Agreement,	operations,	products,	prices,	membership	levels,	membership	discounts,	and	customers,	

acquired	by	the	Member	whilst,	or	as	a	result	of,	using	the	Website,	which	is	not	in	the	public	domain	

(other	than	as	a	result	of	breach	of	confidence).</p>
<p>You	will	maintain	the	secrecy	of	any	Confidential	Information.	You	agree	that	you	will	not,	and	will

use	your	best	endeavours	to	ensure	third	parties	do	not,	disclose,	copy,	transmit,	retain	or	remove	

any	Confidential	Information.</p>
<p>The	obligations	under	this	clause	will	survive	termination	of	this	Agreement.</p>

<strong>23. Intellectual	Property</strong>
<p>The	Website	contains	Intellectual	Property	which	is	owned	by	La’Mule	or	licensed	to	La’Mule	and	is	

protected	by	Australian	and	international	laws.</p>
<p>You	agree	that,	as	between	you	and	La’Mule,	we	own	all	Intellectual	Property	rights	in	the	Website	

and	nothing	in	this	Agreement	constitutes	a	transfer	of	any	Intellectual	Property	rights.</p>

<strong>24. Privacy</strong>
<p>La’Mule	will	collect,	use	and	disclose	any	personal	information	in	accordance	with	its	Privacy	Policy.		

The	Privacy	Policy	is	available	upon	request	or	can	be	viewed	on	the	Website.		Members	

acknowledge	La’Mule’s	Privacy	Policy	and	consent	to	the	collection,	use	and	disclosure	of	personal	

information	in	accordance	with	that	Privacy	Policy,	the	Australian	Privacy	Principles	as	set	out	in	the	

<i>Privacy	Act	1988 (Cth)</i>	and	any	other	applicable	legislation	or	privacy	guidelines.</p>
<strong>25. Moral	Rights</strong>
<p>If	it	is	determined	that	you	retain	moral	rights	(including	rights	of	attribution	or	integrity)	in	the	

Content,	you	hereby	declare	that:</p>

<ul>
	<li>You	do	not	require	that	any	personally	identifying	information	be	used	in	connection	with	the

Content,	or	any	derivative	works	of	or	upgrades	or	updates	thereto;</li>
<li>You	have	no	objection	to	the	publication,	use,	modification,	deletion	and	exploitation	of	the

Content	by	La’Mule	or	its	licensees,	successors	and	assigns;</li>
<li>You	forever	waive	and	agree	not	to	claim	or	assert	any	entitlement	to	any	and	all	moral	rights

of	an	author	in	any	of	the	Content;</li>
<li>You	unconditionally	consent	to	any	act	or	omission	by	La’Mule	or	persons	acting	on	behalf	of

La’Mule	in	relation	to	all	Content	posted,	stored	or	uploaded	by	you	(or	in	collaboration	with	

others)	in	connection	with	your	use	of	or	access	to	the	Website,	which	may	otherwise	be	an	

infringement	of	your	moral	rights;	and</li>
<li>You	forever	release	La’Mule,	and	its	licensees,	successors	and	assigns,	from	any	claims	that

you	could	otherwise	assert	against	La’Mule	by	virtue	of	any	such	moral	rights.</li>

</ul>
<p>The	obligations	under	this	clause	will	survive	termination	of	this	Agreement.</p>

<strong>26. Links</strong>
<p>This	Website	may	contain	hyperlinks	to	websites	operated	by	parties	other	than	La’Mule.	These	

hyperlinks	are	provided	for	your	reference	only.	We	do	not	control	such websites	and	are	not	

responsible	for	their	contents	or	the	privacy	or	other	practices	of	such	websites.	It	is	up	to	you	to	

take	precautions	to	ensure	that	whatever	links	you	select	or	software	you	download	(whether	from this	Website	or	other	websites)	is	free	of	such	items	as	viruses,	worms,	trojan	horses,	defects	and	

other	items	of	a	destructive	nature.	Our	inclusion	of	hyperlinks	to	such	websites	does	not	imply	any	

endorsement	of	the	material	on	such	websites	or	any	association	with	their	operators.	You	may	be	

asked	by	a	third	party	site	to	link	your	profile	on	La’Mule	to	a	profile	on	another	third	party	site.	

Choosing	to	do	so	is	purely	optional,	and	the	decision	to	allow	this	information	to	be	linked	can	be	

disabled	(with	the	third	party	site)	at	any	time.</p>
<strong>27. Refund	and	Liability</strong>
<p>You	have	the	right	to	request	a	refund	of	the	Cost	Contribution,	from	La’Mule,	in	the	following	

circumstances:</p>
<ul>
	<li>
		the	Driver	does	arrive	to	pick	up	the	Passenger	within	30	minutes	of	the	scheduled	time and

as	a	result,	you	do	not	go on	the	Trip.
	</li>
	<li>
		the	Driver	does	not	give	to	La’Mule	the	payment	collection	code	in	respect	of	the	Cost

Contribution	you	paid for	the	Trip
	</li>


</ul>
<p>the	Driver	cancels	the	Trip	for	whatever	reason.</p>
<p>It	is	in	La’Mule’s	sole	discretion	whether	to	refund	the	Cost	Contribution.</p>
<p>Please	raise	any	concerns	and	make	any	requests	for	refund	to:	customersupport@lamule.com.au</p>
<p>To	the	maximum	extent	permitted	by	law,	La’Mule	will	not	accept	liability	to	you	in	respect	of	any	

loss	or	damage	(including	indirect,	special,	or	consequential	loss	or	damage)	which	may	be	suffered	

or	incurred	by	you	or	which	may	arise	directly	or	indirectly	in	respect	of	you using	the	Website	and	

the	Services,	including	but	not	limited	to	participating	in	a	Trip,	cancellation	of	a	Trip	by	a	Driver	or

Passenger,	any	inaccurate	or	incomplete	information	being	provided	by	a	Member,	any	fraud,	

fraudulent	misrepresentation	or	breach	of	duty	or	breach	of	any	of	these	terms	by	a	Driver	or	

Passenger	before,	after	or	during	a	Trip,	being	a	Passenger	or	Driver	of	a	Vehicle,	permitting	

Passengers	in	your	Vehicle,	injury	to	or	death	of	a	Driver	or	Passenger, failure	or	absence	of	

insurance	in	respect	of	a	Driver	or	Vehicle, damage	to	a	Vehicle,	or	in	respect	of	any	failure	or	

omission	on	our	part	to	comply	with	our	obligations	as	set	out	in	these	Agreement.</p>

<p>To	the	maximum	extent	permitted	by	law,	any	condition	or	warranty	which	would	otherwise	be	

implied into	these	Terms is	hereby	excluded.	If	legislation	implies	any	condition	or	warranty,	and	that	

legislation	prohibits	La’Mule	from	excluding	or	modifying	the	application	of,	or	La’Mule’s	liability	

under,	any	such	condition	or	warranty,	that	condition	or	warranty	will	be	deemed	included	but	

La’Mule’s	liability	will	be	limited	for	a	breach	of	that	condition	or	warranty	to	one	or	more	of	the	

following	at	La’Mule’s	selection:	the	supplying	of	the	Services	again or	a	refund	of	the	Cost	

Contribution paid.</p>
<p>Nothing	in	this	agreement	shall	exclude	or	limit	La’Mule's	liability	for	(i)	death	or	personal	injury	

caused	solely	by	La’Mule’s	negligence;	(ii)	La’Mule’s	fraud;	or	(iii)	La’Mule’s	wilful	default	or	gross	

negligence	(iv)	any	other	liability	of	La’Mule	which	cannot	be	excluded	under	applicable	law.</p>

<strong>28. Indemnity</strong>
<p>You	indemnify	La’Mule	and	officers,	directors,	employees	and	agents	from	and	against	any	claims,	

causes	of	action,	demands,	recoveries,	losses,	damages,	fines,	penalties	or	other	costs	or	expenses	of	

any	kind	or	nature	including	but	not	limited	to	reasonable	legal	and	accounting	fees,	brought	by	third	

parties	as	a	result	of:</p>
<ul>
	<li>
		any	and	all	claims,	demands,	proceedings	and	other	liability	arising	wholly	or	partially,	directly

or	indirectly	from	using	the	Website	and	the	Services,	including	but	not	limited	to	participating	

in	an	Trip,	cancellation	of	a	Trip	by	a	Driver	or	Passenger,	any	inaccurate	or	incomplete	

information	being	provided	by	a	Member,	any	fraud,	fraudulent	misrepresentation	or	breach	

of	duty	or	breach	of	any	of	these	terms	by	a	Driver	or	Passenger	before,	after	or	during	a	Trip

being	a	Driver	or	Passenger	in	a	Vehicle,	permitting Passengers	into	a	Vehicle,	injury	to or death	of a	Driver	or	Passenger,	failure	or	absence	of	insurance	of	Driver	or	Vehicle, or	damage

to	Vehicle.
	</li>
	<li>any and	all	claims,	demands,	proceedings	and	other	liability	arising	wholly	or	partially,	directly

or	indirectly	from	lodging	Content	including	electronic	material	or	data	for	publication,	or	

authorising	or	approving	the	publication	of	any	Content,	or	the	publication	of	any	Content,	

and/or	any	inaccuracy,	inadequacy	or	incompleteness	of	any	Content;</li>
	<li>any	and	all	claims	arising	from	defamation,	libel,	slander	of	title;	infringement	of	copyright;

infringement	of	trade	marks	or	names	of	publication	titles;	unfair	competition;	breach	of	trade	

practices,	privacy	or	fair	trading	legislation;	and	violation	of	rights	of	privacy	or	confidential	

information	or	licences	or	royalty	rights	or	other	Intellectual	Property;</li>
<li>your	breach	of	any	aspect	of	this Agreement;</li>
<li>your	violation	of	any	law	or	the	rights	of	a	third	party;	and</li>
<li>your	use	of	the	Website.</li>


</ul>
<p>The	obligations	under	this	clause	will	survive	termination	of	this	Agreement.</p>
<strong>29. Notices</strong>
<p>A	notice	or	other	communication	must	be	in	writing	in	English	and	may	be	served	to	La’Mule

personally	by	post	or	email	to	La’Mule	at:</p>

<div class="detail">
	<div class="col-xs-5 col-sm-4 col-md-4">
		<p>Name	and	ABN:</p>
		<p>Contact	Person	Name:</p>
		<!-- <p>Registered	Address:</p> -->
		<p>Email	Address:</p>
	</div>
	<div class="col-xs-7 col-sm-8  col-md-8">
		<p>La’Mule	Pty	Ltd	(ACN:	165	734	074)</p>
		<p>Oliver	Du	Rieu</p>
		<p><a href="mailto:Customerservice@lamule.com.au">Customerservice@lamule.com.au</a></p>
	</div>
</div>


<p>La’Mule	may	change	its	address	for	service	of	notices	by	written	notice	on	the	Website.</p>

<p>A	notice	or	notice	or	other	communication	must	be	in	writing	in	English	and	may	be	served	to	the		

personally by	post,	facsimile	or	email	to	the	Member	at	the	details	provided	on	the	Member	

Application.</p>
<p>A	Member	may	change	its	address	for	service	of	notices	by	written	notice	to	La’Mule.</p>
<strong>30. General</strong>

<p>30.1 This	Agreement	is	not	intended	to	create	a	relationship	between	the	Parties	of	partnership,	joint	

venture,	agency	or	employer-employee.	You	have	no	authority	to	create,	assume	or	otherwise	enter	

into	any	agreement	that	imposes	rights	or	obligations	on	the	part	of	us.</p>
<p>30.2 This	Agreement	is	personal	to	the	Parties.		A	Party	must not	assign	or	deal	with	the	whole	or	any	part	

of	its	rights	or	obligations	under	this	Agreement	without	the	prior	written	consent	of	the	other	Party	

(such	consent	not	to	be	unreasonably	withheld).		Any	purported	dealing	in	breach	of	this	clause	is	of	

no	effect.</p>
<p>	30.3 Any	failure	or	delay	by	a	Party	in	exercising	a	power	or	right	(either	wholly	or	partially)	in	relation	to	

this	Agreement	does	not	operate	as	a	waiver	or	prevent	that	Party	from	exercising	that	power	or	

right	or	any	other	power	or	right.		A	Party	is not	liable	to	any	other	Party	for	any	loss,	cost	or	expense	

that	may	have	been	caused	or	contributed	to	by	the	failure,	delay,	waiver	or	exercise	of	a	power	or	

right.</p>
<p>30.4 Except	as	expressly	stated	to	the	contrary	in	this	Agreement,	the	powers,	rights	and/or	remedies	of	a	

Party	under	this	Agreement	are	cumulative	and	are	in	addition	to	any	other	powers,	rights	and	

remedies	of	that	Party.	Nothing	in	this	Agreement	merges,	extinguishes,	postpones,	lessens	or	

otherwise	prejudicially	affects	any	power,	right,	or	remedy	that	a	Party	may	have	at	any	time	against	

the	other	Party	to	this	Agreement	or	any	other	person.</p>

<p>30.5 Where	this	Agreement	provides	that	a	Party	may	conditionally	or	unconditionally	give	or	withhold	

any	consent	or	approval	in	relation	to	any	matter	in	this	Agreement,	that	Party	may	in	its	absolute	

discretion,	and	without	being	obliged	to	give	reasons	for	doing	so,	withhold	any	consent	or	approval	

or	give	consent	or	approval	conditionally	or	unconditionally.</p>
<p>30.6 You	hereby	agree	to	waive	any	rights	to	challenge the	validity	or	enforceability	of	this	Agreement

into	on	the	Website	on	the	grounds	that	it	was	made	in	electronic	form	instead	of	by	paper	and/or	

signed	or	sealed.</p>
<p>30.7 This	Agreement	contains	the	entire	understanding	between	the	Parties;	all	previous	oral	and	written	

communications,	representations,	warranties	or	commitments	are	superseded	by	this	Agreement	

and	do	not	affect	the	interpretation	or	meaning	of	this	Agreement	and	each	of	the	Parties	has	relied	

entirely	on	its	own	enquiries	before	entering	into	this	Agreement.</p>
<p>30.8 This	Agreement	is	governed	by	the	laws	of	South	Australia.		Each	party	irrevocably	and	

unconditionally	submits	to	the	non-exclusive	jurisdiction	of	the	courts	of	South	Australia.</p>

<strong>31. Definitions	in	this	Agreement</strong>
<p><strong>Agreement</strong>has	the	meaning	given	to	it	in	Clause	3.</p>
<p><strong>Car	Sharing	</strong>means	the	sharing	of	a	Vehicle	for	a	Trip	by	a	Driver	carrying	a	Passenger	for	that	Trip	in	

exchange	for	a	Cost	Contribution.</p>
<p><strong>Content</strong> means	all	material	uploaded	by	a	Member.</p>
<p><strong>Cost	Contribution</strong>	means	the	amount	set	by	the	Driver	in	relation	to	a	Trip	which	is	payable	by	the	

Passenger	as	their	contribution	to	the	cost	of	the	Trip.</p>
<p><strong>Driver</strong>	means	the	person	using	the	Website	to	offer	to	share	a	car	journey	with	a	Passenger	and	to

transport	that	Passenger	to	a	specified	destination	at	an	agreed	time	in	exchange	for	the	Cost	

Contribution.</p>
<p>
	<strong>GST </strong>has	the	meaning	as	defined	A	New	Tax	System	(Goods	and	Services	Tax)	Act 1999.	Except	where	

noted,	all	prices	quoted	are	exclusive	of	GST.
</p>
<p>
	<strong>Intellectual	Property</strong>	means	all	present	and	future	rights to	intellectual	property	including	inventions	

and	improvements,	trademarks	(whether	registered	or	common	law	trade	marks),	patents,	designs,	

copyright,	any	corresponding	property	rights	under	the	laws	of	any	jurisdiction	and	any	rights	in	

respect	of	an	invention,	discovery,	trade	secret,	secret	process,	know-how,	concept,	idea,	

information,	process,	data	or	formula.
</p>
<p><strong>Member</strong> 	refers	to	a	Passenger,	Driver	or	any	other	user	of	the	Website.</p>

<p><strong>Party</strong>	means	the	parties	to	this	Agreement,	namely	La’Mule and	the	Member.</p>
<p><strong>Passenger</strong>	means	a	person	who	has	accepted	an	offer	to	be	transported	by	a	Driver.</p>
<p><strong>Services</strong>	 refers	to	any	service	provided	by	the	Website	to	any	Member.</p>
<p><strong>Terms</strong>	means	these	terms	and	conditions.</p>
<p><strong>Trip</strong>	means	a	given	journey	in	relation	to	which	a	Driver	and	Passenger	have	agreed	a	transaction	

through	the	Website.</p>
<p><strong>User	Account</strong> means	an	account	with	the	Website	opened	by	a	Member	and	used	in	order	to	access

the	Service	provided	by	the	Website.</p>
<p><strong>Website</strong>	means	<a href="www.lamule.com.au">www.lamule.com.au</a> and	any	other	website	maintained	or	operated	by	La’Mule	

which	offers	similar	services	including	any	microsites	or	sub-sites	through	any	such	website.</p>
<p><strong>Vehicle</strong>	 means	the	vehicle	offered	by	a	Driver	for	Car	Sharing.</p>

<div class="contact-detail">
<strong>Thank	you	for	reading	the	La’Mule	Terms	and	Conditions.</strong>

<strong>Contact	details:</strong>
<p>La’Mule	Pty	Ltd	(ACN	165	734	074)</p>
<p>
South	Australia	5034</p>
<p>
customerservice@lamule.com.au</p>
<p>
www.lamule.com.au</p></div>


