<%= render 'layouts/navigation_2_links' %>
<div class="container driver_details ">
  <div id="rootwizard">   
    <div class="form_area">
        <div class="tab-pane active" id="tab3">
          <div class="container">
            <div class="trust_drive text-center thank_you">
              <div class="col-md-offset-4 col-md-4  centered">
                <div class="image_holder">
                  <%= image_tag 'Silly_icon.png', class: 'img-responsive'%>
                </div>
                <h1>Thank you!</h1>
                <p>You are now a verified driver. You can now go ahead and post a ride!
                </p>
                <!-- <P>In the meantime you can create a ride which will
                  be publicly shown once your profile is verified.
                </P> --> 
                <a class="btn btn-default active btn_green b_25" href="/offer-seats/1" role="button">POST RIDE</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
