<div class="container">
  <div class="trust_drive text-center">
    <div class="col-md-offset-3 col-md-6  centered">
    <div class="image_holder">
    	<%= image_tag 'Wild_icon.png', class: 'img-responsive'%>
     </div>
    <h1>Become a trusted driver.</h1>
    	<div class="text-holder">
    		<p>Becoming a driver is 100% free of charge. Save some money
from your trips and contribute to a
greener community.</p>
    	</div>
    <a class="btn btn-default active b_25" href="<%= steps_driver_verifications_path %>" role="button">JOIN NOW</a>
</div>