// Place all the styles related to the email_alerts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.email_box {
  background: #b5e6f3;
  padding: 10px;
  border-radius: 4px;
}

.email_below_alert {
  background: #e1f5fa;
  padding: 5px;
}

.glyphi-float {
  float: left;
}

.left-float {
  float: left;
  margin-left: 10px
}

