<div id="transfer_request_flash" class="col-md-12 col-sm-12 col-xs-12 alert_msg ">
  <div class="alert alert-warning fade in flash-message notice">
      <a href="#" class="close" data-dismiss="alert">×</a>
      <div class="row">
      <div class="col-md-4 col-sm-4 col-xs-3">
        <img alt="$ img" class="img-responsive" src="/assets/$_img.png">
      </div>          
      <div class="col-md-8 col-sm-8 col-xs-7">
        <i><h4><strong><div id="flash_success">Please enter a valid code.</div></strong></h4></i>           
        <a role="button" href="/offer-seats/1" class=" hidden-xs b_25 color btn_offer btn btn-default btn-sm  navbar_ride_btn">OFFER A RIDE</a>
      </div>
    </div>
  </div>
</div>