<div class="message">
<div class="col-md-12">
      <div class="row">
      <div class="header">
     <a href="#" class="back_search"><span>Meassage </span></a>
     </div>
     </div>
     </div>
    </div>

<!--   <div class="col-sm-12">
  <div class="row">
    <ul class="nav nav-pills nav-stacked"> 
        <li class="list-message-item received">
          <a href="/messages/received">  Private messages received 
            <span class="label label-success"><%= @unread_received_message_thread %></span> 
          </a>
        </li>
        <li class="list-message-item sent">
          <a href="/messages/sent"> Sent messages
            <span class="label label-success"><%= @unread_sent_message_thread %></span>
          </a>
        </li>
        <li class="list-message-item archived"><a href="/messages/archived">Archived messages</a></li>                        
    </ul>                    
  </div>
</div> -->

