<nav class="navbar navbar-inverse  first-nav-header">
  <div class="container">
    <div>
      <ul class="nav navbar-nav pull-right top-navbar">
        <%= render 'layouts/navigation_1_links' %>
      </ul>
    </div>
  </div>
</nav>